<div class="search-results">
    <h2 class="search-results__title">Search results for "..."</h2>
    <div class="search-results__list">
        <div class="js-search-results-list"></div>
    </div>
</div>