<div class="language-selector">
    <a href="/select-language" class="language-selector__current">En</a>

    <div class="language-selector__dropdown">
        <div class="language-selector__dropdown-option">Spanish</div>
        <div class="language-selector__dropdown-option">French</div>
        <div class="language-selector__dropdown-option">German</div>
    </div>
    
</div>