<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{title}}</title>
  <link href="https://fonts.googleapis.com/css?family=Rufina" rel="stylesheet">
  <link href="base.css" rel="stylesheet">
  <link href="components.css" rel="stylesheet">
</head>
<body>

  <header class="header">

    <div class="header__col">
      {{> site-flag/site-flag }}
    </div>
    <div class="header__col">
      <a href="/alchemy">Alchemy</a>
      <a href="/d3">D3</a>
      <a href="/d3v4">D3v4</a>
    </div>
    <div class="header__col header__col--search">
      {{> search/search }}
    </div>
    <div class="header__col">
      {{> language-selector/language-selector }}
    </div>
    
  </header>

  <main class="main">

    {{{body}}}

  </main>

  {{> _footer/footer }}

  <script type="text/javascript" src="bundle.js"></script>
</body>