<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{title}}</title>
  <link href="https://fonts.googleapis.com/css?family=Rufina" rel="stylesheet">
  <link href="base.css" rel="stylesheet">
  <link href="components.css" rel="stylesheet">
</head>
<body>

  {{{body}}}

  <script type="text/javascript" src="alchemy-vendor.js"></script>
  <script type="text/javascript" src="alchemy-plugin.js"></script>
  <script type="text/javascript" src="bundle.js"></script>
</body>