<footer class="footer">
    <div class="footer__col">
         Wikilogic is maintainted by the <a href="www.wikilogicfoundation.org" target="_blank">Wikilogic Foundation</a>, a non-profit organisation...
    </div>
    <div class="footer__col">
        Privacy policy
    </div>
    <div class="footer__col">
        Terms of use
    </div>
</footer>