<section class="section sidebar-layout">
    <div class="sidebar-layout__main">
        {{> d3v4/d3v4 }}
    </div>
    <div class="sidebar-layout__side">
        {{> search-results/search-results }}
    </div>
</section>

<script src="d3.v4.js"></script>