

<header>
  <h1>From the home view</h1>
  <h2>message: {{message}}</h2>
  <nav>
    <ul>
      <li>link</li>
      <li>link</li>
      <li>link</li>
    </ul>
  </nav>
</header>
<main>
  test
  {{> alchemy/alchemy }}
  
</main>
