//a linking to root
.site-flag {
    color: white;
    margin: rem(8) 0;
    text-align: center;
    display: block;
    &:hover {
        //border-bottom: 0;
    }

    &__title {
        font-family: $serif;
        font-size: rem(24);
    }
    &__tagline {

    }
}